/* custom style produk.php */
img.img-fit {
    object-fit: cover;
}

th#tbHarga {
    width: 190px !important;
}

th#tbFoto {
    width: 110px !important;
}

th#tbStok {
    width: 40px;
}

td div.custom-harga {
    width: 180px;
    display: block;
}

td div.custom-img-size {
    width: 100px;
    display: block;
}

/*custom style tambah produk*/
@media (max-width: 768px) {
    div.col-md-4.select-kategori {
        margin-bottom: 16px;
    }
}