@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

div#topbarCTA {
    display: inline-flex;
}

div.footerList {
    float: right;
}

/* info */
div.custom-card-position {
    position: relative;
    top: -16vh;
}

@media (max-width : 991px) {

    /* info */
    div.custom-card-position {
        position: relative;
        top: -6vh;
    }

    div.footerList {
        float: left;
    }

    ul.navbar-nav {
        margin-bottom: 1rem;
    }

    div#topbarCTA {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 1em;
        margin-top: 1em;
        padding-bottom: 8px;
    }

    div#userMenu {
        position: fixed;
        top: 236px;
        left: 0;
        width: 100% !important;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* header */
ul.navbar-nav li {
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}

section.header {
    background-color: white;
}

section.header {
    z-index: 1100;
    width: 100%;
    top: 0px;
}

/* footer */
div.footer {
    background-color: rgb(32, 32, 32);
    height: max-content;
    color: rgb(212, 212, 212);
}

div.footer ul li a {
    color: rgb(212, 212, 212);
}

div.footer ul {
    padding: 0;
    margin: 0;
}

div.footer ul li {
    list-style: none;
    margin-bottom: 4px;
}

div.footer h6 {
    color: white;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

div.footer span {
    margin-left: 4px;
}

/* konten */
section.content {
    top: 90px;
    position: relative;
}

/* produk.php */
img.product-image {
    object-fit: cover;
}

div.dropdown-search {
    width: 300px;
}

div.dropdown-search input.form-control {
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* pagination */
.pagination>li>a {
    background-color: white;
    color: #28A745;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #1fa73f;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #28A745 !Important;
    border: solid 1px #28A745 !Important;
}

.pagination>.active>a:hover {
    background-color: #28A745 !Important;
    border: solid 1px #28A745;
}

/* home slider image */
div.carousel-item img.embed-responsive-item {
    object-fit: cover;
}