body{
background-color: turquoise;
}

.gambar{
    margin: 0 30px;
    float: left;
    align-items: center;
    justify-content: centerS;
    border: black solid 5px;
}
img{
    float: left;
    margin: 0px 70px;
    width: 120px;
    height: 150px;
}
.text{
    float: right;
    width: 970px;
    border: 5px solid #181415;
    padding: 5px 10px;
}
h1{
    font-size: 20px;
    text-align: center;
}
h2{
    font-size: 15px;
    text-align: center;
}
h3{
    font-size: 30px;
    text-align: center;
}